
<script src="@Url.Content("../Content/FilterControls.js")" type="text/javascript"></script>
<script type="text/javascript">

    var filterDiscr = [
        { dataField: "ProductID", caption: 'id', dataType: "number", filterType: "", filter: true },
        { dataField: "ProductName", caption: 'имя', dataType: "string", filterType: "", filter: true },
        { dataField: "UnitPrice", caption: 'цена', dataType: "number", filterType: "", filter: true }
    ];

    function OnClick(s, e) {
        console.log("---");
        ASPx.GVShowFilterControl(GridView);
        if (GridView.cpFilterExpression)
            $('#filterStr').val(GridView.cpFilterExpression);
        lbFilters.AddItem(GridView.cpFilterExpression);
    }

    function OnSelectedIndexChanged(s, e) {
        GridView.PerformCallback({ filterExpression: lbFilters.GetSelectedItem().text });
    }

</script>
<table>
    <tr>
        <td>
            <input id="filterStr" style="width:700px " />
        </td>
    </tr>
    <tr>
        <td>
            <div id="filter" />
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().Button(settings =>
            {
                settings.Name = "btnSave";
                settings.Text = "Save Current Filter";
                settings.ClientSideEvents.Click = "OnClick";
            }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.DevExpress().ListBox(settings =>
            {
                settings.Name = "lbFilters";
                settings.Width = Unit.Pixel(500);
                settings.Properties.EnableClientSideAPI = true;
                settings.Properties.ClientSideEvents.SelectedIndexChanged = "OnSelectedIndexChanged";
            }).GetHtml()
        </td>
    </tr>
    <tr>
        <td>
            @Html.Action("GridViewPartial")
        </td>
    </tr>

</table>
<script type="text/javascript">
    // document.onload(() => {
    var filerElem = document.getElementById("filter");
    var filter = new FilterElements(GridView, filerElem);
    filter.CreateFilter(filterDiscr);
//    });
</script>